html{
    width: 1600px;
    margin:auto;
    background-color:#CCEEFF ;
    background-image: url(https://media.playstation.com/is/image/SCEA/monster-hunter-world-iceborne-guardian-armor-section-background-01-ps4-us-04sep19?$native_nt$);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body{
    width: 1600px;
}
footer{
    width: 1600px;
}
.container{
    width:1600px;
}
.logo{
    width:383.2px;
    height:222px;
}
.language{
  color:#666666;
  font-family:fantasy;
  font-size:44px;
  margin-top:120px;
  margin-left:900px;
  font-weight:bold;
}
.titlebar{
    display:flex;
}
.cover{
    margin-left:20px;
    width: 1560px;
    margin-bottom:0;
}
.navbar{
    margin-top:40px;
    display:flex;
    padding:0;
    width:1600px;
    height:70px;
    background-color:#0066FF;
    opacity:0.8;
}
.news{
    margin-left:150px;
    font-size:30px;
    font-family:fantasy;
    color:#FFFFFF;
    margin-top:18px;
}
.story{
    margin-left:190px;
    font-size:30px;
    font-family:fantasy;
    color:#FFFFFF;
    margin-top:18px;
}
.ecosystem{
    margin-left:190px;
    font-size:30px;
    font-family:fantasy;
    color:#FFFFFF;
    margin-top:18px;
}
.monster{
    margin-left:190px;
    font-size:30px;
    font-family:fantasy;
    color:#FFFFFF;
    margin-top:18px;
}
.hunting{
    margin-left:190px;
    font-size:30px;
    font-family:fantasy;
    color:#FFFFFF;
    margin-top:18px;
}
.bigword{
    font-size:60px;
}
.articlebox1{
    font-size:33px;
    width:800px;
    font-weight:bold;
    font-family:Microsoft JhengHei;
    padding-top:20px;
    padding-left:50px;
}
.articlebox2{
    font-size:33px;
    width:800px;
    font-weight:bold;
    font-family:Microsoft JhengHei;
    padding-top:5px;
    padding-left:50px;
}
.articlebox3{
    font-size:33px;
    width:800px;
    font-weight:bold;
    font-family:Microsoft JhengHei;
    padding-top:5px;
    padding-left:50px;
}
.articlebox4{
    font-size:33px;
    width:800px;
    font-weight:bold;
    font-family:Microsoft JhengHei;
    padding-top:0px;
    padding-left:150px;
}
.main1{
    display:flex;
    margin-top:190px;
    
}
.main2{
    display:flex;
    margin-top:190px;
}
.main3{
    display:flex;
    margin-top:190px;
}
.main4{
    display:flex;
    margin-top:190px;
    margin-bottom: 100px;
}
.mainbox{
    width: 1600px;
}
.image13{
    width: 600px;
    margin-left:190px
}
.image24{
    width: 600px;
   margin-right:190px;
}

.footer1{
  
    text-align: center;
    background-color: #0066FF;
    padding:10px
}
.footer2{
    width:1600px;
    background-color: #0066FF;
    height:140px;
    padding:0;
}
.smallps4{
    width:50px;
}
.smallps4logo{
    width:30px;
}
.line{
    height:2px;
    width:1600px;
    background:#FFFFFF;
}
.fbicon{
    width:50px;
    margin-top:50px;
    margin-left:150px;
}
.yticon{
    width:50px;
    margin-left:50px;
}
.capcomlogo{
    width: 300px;
    margin-left:820px;
}
.capaomword{
    margin-left:1105px;
    font-size:13px;
    font-family:Microsoft JhengHei;
    color: #FFFFFF;
}
.footerword{
    font-family:Microsoft JhengHei;
    color: #FFFFFF;
}